<!DOCTYPE html>
<html ng-app="menuApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title class="settitle"></title>

    <script src="http://www.subsect.net/lib/dev_subsect.js"></script>
    <script src="menu.js"></script>

    <style>
        img{
            height: 50px;
            width: 50px;
        }

        .center {
            text-align: center;
        }

        .bigtext {
            font-size: 150%;
        }

        .pointeron {
            cursor: pointer;
        }

        tr.pointeron:hover{
        background-color: #EEE;
        }

    </style>
</head>

<body ng-controller="MenuController">

<div class="container-fluid">
    <div class="center">
        <h1 class="settitle"></h1>
    </div>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Site</th>
            <th>Icon</th>
            <th ng-show="showremove()" colspan="1"></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="site in sites" ng-show="showitem(site)" ng-click="newurl(site)"
                class="pointeron">
            <td class="bigtext">{{site.id}}</td>
            <td class="bigtext">{{site.title}}</td>
            <td >
                <img ng-src="{{site.icon}}">
            </td>
            <td ng-show="showremove()"><button class="btn btn-primary"
                        ng-click="delSite(site)">Remove</button></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>