<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.subsect.subserv"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WIFI_STATE_CHANGED" />

    <application
        android:allowBackup="false"

        android:icon="@drawable/subsect_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.subsect.subserv.SettingsActivity"
            android:label="@string/action_settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="net.subsect.subserv.MainActivity" >
        </activity>

        <activity
            android:name=".ConnectActivity"
            android:label="@string/connect"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".ToolsActivity"
            android:label="@string/tools"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".ServerActivity"
            android:label="@string/admin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".MainActivity" >
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
